<!DOCTYPE html>

<!-- 조각을 basic이라는 레이아웃에 전달하기 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

<!-- 타이틀과 테이블 코드 -->
    <th:block th:fragment="content">

  
<h1>Board List Page
    <span>
    <!-- 게시물 등록화면으로 이동하는 링크 -->
         <a href="/board/register">
            <button type="button" class="btn btn-outline-primary"> 게시물 등록</button>
        </a>
    </span>
</h1>

<!-- 컨트롤러에서 데이터를 정상적으로 받았는지 확인 -->
<!-- [[${list}]] -->

<table class="table table-striped">
    <!-- 부트스트랩의 스타일 적용 -->
    <!-- 제목 (고정) -->
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
    </tr>
    </thead>
    <!-- 실제 데이터
    컨드롤러에서 전달받은 데이터를 출력 -->
    <tbody>
    <!-- 리스트 안에 있는 요소를 하나씩 꺼내면서<tr> 태그를 생성 -->
    <tr th:each="dto : ${list}">
    <!-- 게시물 번호에 링크달기 (상세화면)
    게시물 번호를 url 파라미터로 전달
    타임리프의 주소 표현식 전달 -->
    
        <th>
        <!-- 링크에 페이지번호를 파라미터로 추가 
        페이지 객체에서 현재 페이지번호 꺼내기
        [[${list.number}]]-->
        
   		<!-- (no=변수) => ?no=값 -->
        <a th:href="@{/board/read(no = ${dto.no}, page = ${list.number + 1})}">
        [[${dto.no}]]
        </a>
        </th>
        <td>[[${dto.title}]]</td>
        <td>[[${dto.writer}]]</td>
        <!-- 타임리프가 제공하는 객체를 사용하여 날짜를 가공 -->
        
        <td>[[ ${ #temporals.format(dto.regDate, 'yyyy-MM-dd')} ]]</td>
     <!--   <td>[[${dto.regDate}]]</td>  -->
    </tr>
    </tbody>

</table>

<ul class="pagination h-100 justify-content-center align-items-center">
	<th:block th:each="page : ${#numbers.sequence(1, list.totalPages)}">
		<th:block th:if="${list.number+1 == page}">
			<li class="page-item active">					
			<a class="page-link" th:href="@{/board/list(page = ${page})}">[[${page}]]</a>
			</li>
		</th:block>
		<th:block th:unless="${list.number+1 == page}">
			<li class="page-item">
			<a class="page-link" th:href="@{/board/list(page = ${page})}">[[${page}]]</a>
			</li>
		</th:block>
	</th:block>
</ul>

 

<!-- 등록이 끝나고 목록으로 이동했을 때, 새로운 게시물 번호를 표시 -->
<script th:inline="javascript">

const no = [[ ${NewNo} ]];

if(no != null){
	alert(no + "번 글 등록");
}

</script>

</th:block>

</th:block>